@use 'reset';
@use 'root';
@use 'base';

.blog-preview-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 384px;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-black);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 8px 8px 0 0 var(--clr-black);

    &__image {
        width: 100%;
        border-radius: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
    }

    &__category {
        border-radius: 4px;
        font-size: 0.875rem;
        font-weight: 800;
        background-color: var(--clr-yellow);
        padding: 0.25rem 0.75rem;
    }

    &__publish-date {
        font-size: 0.875rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 800;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: var(--clr-yellow);
            }
        }
    }

    &__description {
        color: var(--clr-grey);
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    &__author-avatar {
        width: 32px;
        height: 32px;
    }

    &__author-name {
        font-size: 0.875rem;
        font-weight: 800;
    }
}
